@import 'tailwindcss';

@theme {
    --color-badran : #0b2e4b;
    --color-badran-bt : #004DA3;
    --color-badran-form : #1E1E1E40;
    --color-badran-form-text : #070707;
    --color-badran-yellow : #ECC73A ;
    --color-badran-bdy: #FFCB05;
    --color-badran-bdg: #629A34;
    --color-badran-bdr: #FF565D;
}